[project]
	description = Kubernetes - MidoNet integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/Antoni Segura Puimedon (celebdor)
[access "refs/for/refs/*"]
	rebase = group midonet-integrations-core
	removeReviewer = group midonet-integrations-core
	submit = group midonet-integrations-core
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group midonet-integrations
	push = +force group midonet-integrations
	pushMerge = group midonet-integrations
	label-Code-Review = -2..+2 group midonet-integrations-core
	label-Code-Review = -1..+1 group midonet-integrations
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midonet-integrations
	labelAs-Verified = -1..+1 group midonet-integrations
[access "refs/tags/*"]
	pushTag = group midonet-integrations-core
	pushSignedTag = group midonet-integrations-core
	read = group Anonymous Users
[access "refs/drafts/*"]
	read = group Anonymous Users
	push = group Registered Users
[access "refs/publish/*"]
	read = group Anonymous Users
	push = group Registered Users
