[project]
	description = Kubernetes - MidoNet integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Antoni Segura Puimedon (celebdor)
[access "refs/for/refs/*"]
	read = group user/Antoni Segura Puimedon (celebdor)
	push = group user/Antoni Segura Puimedon (celebdor)
	label-Code-Review = -2..+2 group user/Antoni Segura Puimedon (celebdor)
	label-Verified = -1..+1 group user/Antoni Segura Puimedon (celebdor)
	rebase = group user/Antoni Segura Puimedon (celebdor)
	removeReviewer = group user/Antoni Segura Puimedon (celebdor)
	submit = group user/Antoni Segura Puimedon (celebdor)
[access "refs/heads/*"]
	read = group user/Antoni Segura Puimedon (celebdor)
	create = group user/Antoni Segura Puimedon (celebdor)
	push = +force group user/Antoni Segura Puimedon (celebdor)
	pushMerge = group user/Antoni Segura Puimedon (celebdor)
[access "refs/tags/*"]
	push = +force group user/Antoni Segura Puimedon (celebdor)
	pushTag = group user/Antoni Segura Puimedon (celebdor)
	pushSignedTag = group user/Antoni Segura Puimedon (celebdor)
